<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astral.mapper.TTaskTypeMapper">
  <resultMap id="BaseResultMap" type="com.astral.model.TTaskType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="dt" jdbcType="DATE" property="dt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, deleted, create_time, modify_time, dt
  </sql>
  <sql id="Base_Where">
    <if test="type != null">
        and type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="deleted != null">
        and deleted = #{deleted,jdbcType=INTEGER}
    </if>
    <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyTime != null">
        and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="dt != null">
        and dt = #{dt,jdbcType=DATE}
    </if>
  </sql>
  <sql id="Extra_Where">
    <if test="type != null">
        and type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="typeLike != null">
        and type like CONCAT('%',#{typeLike},'%')
    </if>
    <if test="deleted != null">
        and deleted = #{deleted,jdbcType=INTEGER}
    </if>
    <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTimeBegin != null and createTimeEnd != null">
        and create_time BETWEEN #{createTimeBegin} AND #{createTimeEnd}
    </if>
    <if test="modifyTime != null">
        and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyTimeBegin != null and modifyTimeEnd != null">
        and modify_time BETWEEN #{modifyTimeBegin} AND #{modifyTimeEnd}
    </if>
    <if test="dt != null">
        and dt = #{dt,jdbcType=DATE}
    </if>
    <if test="dtBegin != null and dtEnd != null">
        and dt BETWEEN #{dtBegin} AND #{dtEnd}
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_task_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" parameterType="com.astral.model.TTaskType" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_task_type
    <trim prefix="WHERE" prefixOverrides="AND |OR">
      <include refid="Base_Where" />
    </trim>
  </select>
  <select id="selectByCondition" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_task_type
    <trim prefix="WHERE" prefixOverrides="AND |OR">
      <include refid="Extra_Where" />
    </trim>
  </select>
  <insert id="insert" parameterType="com.astral.model.TTaskType">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_task_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        type,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="dt != null">
        dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dt != null">
        #{dt,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_task_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="delete" parameterType="com.astral.model.TTaskType">
    delete from t_task_type
    <trim prefix="WHERE" prefixOverrides="AND |OR">
      <include refid="Base_Where" />
    </trim>
  </delete>
  <update id="update" parameterType="com.astral.model.TTaskType">
    update t_task_type
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dt != null">
        dt = #{dt,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>